// Styling for the masthead
header.masthead {
  text-align: right;
  color: white;
  text-shadow: 2px 2px transparentize(#000000, 0.5);
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 39% center;
  background-size: cover;
  height: 100vh;
  padding-top: 0px;
  margin-top: 0px;
  .intro-text {
    position:relative;
    padding-top: 60%;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      padding-top: 50%;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media (max-width: 450px) {
  header.masthead {
    background-position: 39% center;

    .intro-text {
      position: relative;
      padding-top: 60%;
      padding-bottom: 100px;

      .intro-lead-in {
        font-size: 22px;
        font-style: italic;
        line-height: 22px;
        margin-bottom: 25px;
        padding-top: 50%;
        @include serif-font;
      }

      .intro-heading {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 25px;
        @include heading-font;
      }
    }
  }
}
  @media (min-width: 768px) {
    header.masthead {
      background-position: center center;

      .intro-text {
        padding-top: 30%;
        padding-bottom: 200px;

        .intro-lead-in {
          font-size: 40px;
          font-style: italic;
          line-height: 40px;
          margin-bottom: 25px;
          padding-top: 40%;
          @include serif-font;
        }

        .intro-heading {
          font-size: 75px;
          font-weight: 700;
          line-height: 75px;
          margin-bottom: 50px;
          @include heading-font;
        }
      }
    }

}


